
WpfApplication1/.vs/
sQzServer1/obj/
sQzServer0_print/obj/
ConsoleUtils/bin/
ConsoleUtils/obj/
sQzClient/bin/
sQzClient/obj/
sQzLib/bin/
sQzLib/obj/
sQzServer0/obj/
sQzServer0_print/obj/
sQzServer1/bin/
