body {font-family:consolas,sans-serif;}
.stmt {background-color:#003c78;font-family:"Open Sans",sans-serif;display:inline-block;color:white;padding:1em;}
.qid {font-size:1.3em;background-color:#a51c30;padding:.8em;display:inline-block;color:white;}
.choice{padding:.2em;}
.selected{border-color:#c48203;border-width:medium;border-style:solid;display:inline-block;}
.hlight{background-color:green;}