/*body {font-family:consolas,sans-serif;/*#bac5c6}*/
/*harvard*/
body {font-family:"Merriweather Light","Times New Roman",serif;
	background-color:#c3d7a4;
	font-size:1.2em;
	font-style:normal;
	}
.stmt {
	/*#003c78;*/
	padding:.5em;
	border-top-style:solid;
	border-top-width:4px;
	/* border-color:#8c1829; */
	border-top-color:#a51c30;
	border-bottom-style:solid;
	border-bottom-width:4px;
	border-bottom-color:#d870b8;
	}
.qid {display:inline-block;
	color:#fff;
	background-color:#a51c30;
	width:1.5em;
	padding: .3em;
	vertical-align:top;
	text-align:center;
	margin-top:8px;
	}
.cid{
	color:#a51c30;
	padding:0 .5em;
}
.q{display:inline-block;
	background-color:#eee;
	/* background-color:#c3d7a4; */
	width:30%;
	vertical-align:top;
	margin-top:8px;
	}
.choice{
	padding:.4em 0;
	/* background-color:#d870b8; */
	}
label:hover, .choice:hover{background-color:#58a9b4;/*#5ba0d0;*//*#cee6f3;*/
	cursor:pointer;}
/* .checked{background-color:#5ba0d0;} */
.hlight{background-color:#58a9b4/*#8bc34a*/;}
input[type=radio]{
	/* display:none; */
	/* visibility:none; */
	}
#lp{
	width:30%;
	position:fixed;
	left:0;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	height:100%;
}
#sht{
	height:80%;
	overflow:auto;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
table {
	width:100%;
	border-collapse:collapse;
}
td,th {
	border:1px solid #000;
	text-align:center;
}
th.o {width:2em;}
.k3 {display:inline-block;width:30%;}